*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

.container{
    border: 7px solid goldenrod;
    border-radius: 20px;
    box-sizing: content-box;
    width: 60%;
    height: 400px;
    margin-top: 200px;
    margin-left: 250px;
    display: inline-flex;
    align-items: center;
    color: rgb(31, 1, 1);
    
    
}

img{
    width: 250px;
    height: 250px;
    margin: 30px;
    border-radius: 30px;
}

h1{
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Acme', sans-serif;
}

.text{
    margin-right: 20px;
}
